<div style="background-color:rebeccapurple">
  <mat-toolbar color="primary">
    <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" (click)="onMenuHeaderClick()">
      <mat-icon>menu</mat-icon>
    </button>
    <span style="margin-left:2%">{{message}}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>home</mat-icon>
    </button>
  </mat-toolbar>
  <div style="height:4px;background-color:#7c66bf">&nbsp;<br /></div>
</div>
